<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Text Sentimental Analysis Predictor</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='movie-favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Yatra+One&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
    		<h2 class='container-heading'><span class="heading_font">Text Analysiser</span>using NLP</h2>
            <div class='description'>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
        		<textarea class='message-box' name="message" rows="15" cols="75" placeholder="Enter Your Script (100 words only) Here..."></textarea><br/>
        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!-- Footer -->
        <div class='footer'>
            <div class="contact">
                <a target="_blank" href="https://github.com/shantamsultania/TCS_ICON_RIO-45_Project"><i class="fab fa-github fa-lg contact-icon"></i></a>
            </div>
            <p class='footer-description'>Made with ❤️ by Shantam Sultania.</p>
        </div>

    </body>
</html>
