scipy>=1.1.0
scikit-learn>=0.19.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.6.2
MarkupSafe==1.1.1
numpy==1.18.3
packaging==20.3
pandas==1.0.3
pandas-datareader==0.8.1
Pillow==7.1.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
tornado==6.0.4
typing-extensions==3.7.4.2
urllib3==1.25.9
Werkzeug==1.0.1
